body,html {
    height: 100%;
}

.container {
    display: block;
    position: relative;
    min-height: 100%;
}

#message {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}